body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 16px;
  background: #222222;
}

html {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
html::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

button {
  cursor: pointer;
  text-transform: uppercase;
}

:root {
  --index: calc(1vw + 1vh);
  --color-1: #E01B1A;
  --color-2: #ffeb09;
  --cargoAnim: 18s;
}



/* TYPE */


.wrapper {
  margin: 0 auto;
  padding: 0 5rem;
  max-width: 1270px;
}

.flex {
  display: flex;
}

.un {
  font-family: 'Unbounded';
}

.mon {
  font-family: 'Montserrat';
}

.a-btn {
  padding: 1rem 1.6rem;
  background: var(--color-2);
  border: transparent;
  outline: none;
  border-radius: 1.1rem;
  font-size: 1rem;
  font-weight: 700;
  color: #222222;
  transition: 0.5s ease;
  text-transform: capitalize;
}

.a-btn:hover {
  transform: scale(1.06);
  color: #ffffff;
  border: transparent;
  background: #222222;
}

.a-btn span, .b-btn span {
  transform: scaleY(1.5);
}

.main-logo {
  display: inline-block;
  font-family: 'Gasoek One';
  font-size: 2.5rem;
  color: white;
  cursor: default;
  white-space: nowrap;
}

.main-logo img {
  width: 3rem;
  animation: 6s infinite rotate ease-in-out;
  
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(31deg) scale(1.2);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

h2 {
  display: inline-block;
  font-size: 4.5rem;
  font-weight: 800;
  padding-bottom: 5.5rem;
}

.cnt-divider {
  content: '';
  display: none;
  width: 100%;
  height: 2rem;
  background: linear-gradient(180deg, rgb(43, 43, 43) 0%, var(--color-1) 100%);
  opacity: 0.5;
}

section .cnt-divider:last-child {
  transform: rotate(180deg) translateY(-2.4px);
}

.reveal{
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.asterisk__container {
  position: absolute;
  top: 0.4rem;
  right: 0;
}

.asterisk {
  transition: all 0.5s ease;
  width: fit-content;
  height: fit-content;
  z-index: -1;
}

.asterisk.rotate {
  transform: rotate(360deg);
}

.h2__ast {
  position: relative;
}

.asterisk__container img {
  width: 4.5rem;
  height: 4.5rem;
  max-width: 50px;
}

.works .h2__ast .asterisk__container {
  top: -0.3rem;
}

.about .h2__ast .asterisk__container {
  top: -0.2rem;
}

.scrollable--scroll-active {
  background: white;
}




/* HEADER */

.header {
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
}

.header .main-logo {
  padding-left: 2rem;
}

.menu__icon {
  width: 3rem;
  height: 2.5rem;
  cursor: pointer;
  top:2rem;
  right:3rem;
  position: fixed;
  transform: rotate(180deg);
}
.menu__icon span,
.menu__icon::before,
.menu__icon::after {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  transition: all 0.5s ease 0s;
  background-color: white;
  border-radius: 10px;
}
.menu__icon::before,
.menu__icon::after {
  content: "";
}
.menu__icon::before {
  top: 0;
}
.menu__icon::after {
  bottom: 0;
}
.menu__icon span {
  top: 50%;
  width: 65%;
  transform: scale(1) translateY(-50%);
  transition: all 0.3s ease;
}
.menu__icon:hover span {
  width: 100%;
}
.menu__body {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #222222;
  transition: all 0.3s ease-in-out;
}
.menu__body.show {
  display:flex;
}
#close-menu-btn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  top:2rem;
  right:2rem;
}
#close-menu-btn img {
  width: 100%;
  max-width: 100px;
}
.hidden {
  display: none;
}
.menu__list {
  display: flex;
  position:relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 36vh;
  transform:translateY(-10%);
}
.menu__link {
  font-size: 2.6rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.menu__links {
  position: absolute;
  bottom: 15%;
  margin-left: 0;
  margin-right: 0;
  width: fit-content;
}
.menu__links img {
  width: 4rem;
}
.menu__links a:first-child img {
  transform: scale(0.95);
}
.menu__links a:nth-child(2) img {
  margin: 0 1.2rem;
}


/* COOKIE */

#cookie {
  width: 100vw;
  z-index: 200;
  bottom: 0;
  display: none;
  position: fixed;
  justify-content: center;
  background: #222222;
}

#cookie.show {
  display: flex;
}

.cookie-wrapper {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
}

.cookie-wrapper>p {
  font-size: 2rem;
  text-align: center;
  color: white;
  margin-bottom: 0.5rem;
}

.cookie-wrapper>button {
  width: fit-content;
  padding: 0.8rem 1.5rem;
  text-transform: none;
}




/* HERO */


.hero {
  justify-content: end;
  align-items: center;
  padding: 4rem;
  height: 100vh;
  min-height: 500px;
  position: relative;
  overflow: hidden;
  z-index: 3;
  background: var(--color-1);
}

.hero .wrapper {
  padding: 1rem;
}

.hero__marquee {
  position: absolute;
  z-index: 1;
  width: 150%;
  left: -20%;
  top: 95%;
  transform: rotate(32deg);
  font-family: 'ZCOOL QingKe HuangYou';
  color: white;
  font-size: 10rem;
  white-space: nowrap;
  min-width: 730px;
  --gap: 1rem;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.hero-marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  -webkit-animation: scroll 10s linear infinite;
  -moz-animation: scroll 10s linear infinite;
  -o-animation: scroll 10s linear infinite;
  animation: scroll 10s linear infinite;
}


@-webkit-keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
@-moz-keyframes scroll {
  from {
    transform: translateX(100);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
@-o-keyframes scroll {
  from {
    transform: translateX(100);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
@keyframes scroll {
  from {
    transform: translateX(100);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.hero__content {
  width: 100%;
  align-items: flex-end;
  flex-direction: column;
  text-align: center;
  color: white;
  font-weight: bold;
  transform: translateY(-1rem);
  display: flex;
}

.hero__content h1 {
  white-space: nowrap;
}

.hero__txt {
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 3.4rem;
}

.hero__swiper {
  max-height: 6.7rem;
  min-width: 25rem;
  max-width: 25rem;
  overflow: hidden;
  background: var(--color-1);
  -webkit-box-shadow: 0px 0px 56px 0px var(--color-1) inset;
  -moz-box-shadow: 0px 0px 56px 0px var(--color-1) inset;
  box-shadow: 0px 0px 56px 0px var(--color-1) inset;
}

.hero__swiper-wrapper {
  overflow: hidden;
}

#hero__title {
  height: 4.5rem;
  width: 24rem;
  overflow: hidden;
  position: relative;
  display: flex;
  --vGap: 4rem;
}

#hero__vertical-scroll {
  position: absolute;
  animation: heroScroll 14s linear infinite;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  user-select: none;
  gap: var(--vGap);
  justify-content: space-around;
  flex-shrink: 0;
}

@keyframes heroScroll {
  0% {
    transform: translateY(7.5%);
  }
  100% {
    transform: translateY(calc(-97% - var(--vGap)));
  }
}

.hero__word {
  display: block;
  font-size: 4rem;
  text-align: end;
  float: right;
}

.hero__word:not(:last-child) {
  margin-bottom: 4rem;
}

.hero__swiper .swiper-slide-active {
  opacity: 1;
}

.hero__content h1 {
  font-size: 5rem;
  font-weight: 800;
  padding-bottom: 1.8rem;
  text-align: end;
}

.hero__subtitle {
  font-size: 5rem;
  text-align: end;
  display: block;
  width: max-content;
  padding-bottom: 0;
  margin-left: 1.7rem;
  float: right;
}

.hero__subtitle img {
  width: 3.5rem;
  height: 3rem;
}

.hero__button {
  float: right;
  font-size: 1.8rem;
  position: relative;
  padding: 0.7rem 1.2rem;
  z-index: 2;
}

.hero__content h1 span:first-child {
  padding-right: 25rem;
}

.hero__content h1 span:nth-child(3) {
  padding-right: 12rem;
}

.hero__content h1 span {
  transition: 0.3s all ease;
  cursor: pointer;
}

.hero__content h1 span:hover {
  color: #222222;
}

.hero__content-pbtn {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  width: fit-content;
}

.hero__content-pbtn img {
  width: 2rem;
  height: 1.5rem;
  stroke: #646464;
}

.hero__content-pbtn p {
  position: relative;
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

.hero__content-pbtn button {
  width: 100%;
}






/* SUB */

.sub {
  background: #222222;
  position: relative;
  z-index: 1;
  /* padding: 8rem 0; */
}

.sub h2 {
  color: white;
  width: 100%;
  text-align: center;
}

.sub__container {
  width: 100%;
  height: calc(100vh - 2.5rem);
  margin-bottom: -1px;
  position: relative;
  overflow: hidden;
}

.sub__swiper {
  width: 100%;
  top: 0;
  padding: 4rem;
  height: 100%;
}

.sub-nav {
  border-bottom: 2px solid #464646;
  position: relative;
  z-index: 1;
}

.sub-nav-list {
  justify-content: space-between;
  position: relative;
}

.sub-nav-list li {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  white-space: nowrap;
  cursor: pointer;
  padding: 2.5rem;
  position: relative;
}

.sub-nav-list li.active {
  color: #cacaca;
  background: #363636;
}

.sub-nav-list li:hover {
  color: #cacaca;
  background: #404040;
}

.sub-nav-line-a {
  position: absolute;
  display: block;
  z-index: 2;
  left: 0;
  bottom: -2px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition: left 0.3s ease-out;
  opacity: 0;
}

.sub-nav-line-b {
  position: absolute;
  display: block;
  z-index: 3;
  left: 0;
  bottom: -2px;
  height: 2px;
  background: var(--color-1);
}

.sub__swiper-slide {
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  height: 94%;
}

.sub__swiper-slide:first-child {
  margin-top: -1%;
}

.sub__swiper-slide::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: transparent;
}

.sub__swiper-slide::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
}

.sub__swiper-slide::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

.sub__swiper-slide-txt {
  width: 100%;
  max-width: 50%;
  padding-right: 1rem;
  color: white;
}

.sub__swiper h3 {
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 2.3rem;
}

.sub__swiper-pretitle {
  font-size: 0.8rem;
  padding-left: 0.152rem;
  padding-bottom: 0.8rem;
  color: transparent;
  display: none;
}

.sub__swiper h4 {
  font-size: 1.26rem;
  max-width: 70%;
  padding-bottom: 2rem;
  line-height: 1.7rem;
}

.sub__swiper-slide-txt-list {
  list-style-type: disc;
  padding-left: 1rem;
}

.sub__swiper-slide-txt-list li:not(:last-child) {
  margin-bottom: 1rem;
}

.sub__swiper-slide-txt p, .sub__swiper-slide-txt-list {
  max-width: 86%;
  font-size: 1.05rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.sub__swiper-slide-txt a {
  color: var(--color-1);
  text-underline-offset: 4px;
}

.sub__swiper-slide-txt p:not(:last-child) {
  padding-bottom: 2.3rem;
}

.sub__swiper-slide:not(:first-child, :nth-child(2)) .sub__swiper-slide-txt button {
  margin-bottom: 2rem;
}

.sub__swiper-slide-info {
  max-width: 60%;
  border-left: 2px solid var(--color-2);
  padding-left: 1rem;
  margin-bottom: 0.8rem;
}

.sub__swiper-info-percent {
  font-size: 3rem;
  padding-bottom: 3rem;
}

.sub__swiper-info-article {
  font-size: 0.7rem;
  padding-left: 1rem;
}

.sub__swiper-side {
  width: 100%;
  max-width: 50%;
  background: #870000;
  color: white;
  cursor: pointer;
}

.sub__swiper-side-img {
  width: 100%;
  height: 16rem;
  background-image: url(../img/flexe_rapid-replenishment-program-home-and-garden-retailer_web_resources_3000x1690.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  transition: all 1s ease;
}

.sub__swiper-slide:not(:first-child) .sub__swiper-side:hover .sub__swiper-side-img {
  height: 18rem;
}

.sub__swiper-side-img::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.226);
  z-index: 1;
  opacity: 1;
  transition: all 1s ease;
}

.sub__swiper-slide:not(:first-child) .sub__swiper-side-img:hover::after {
  opacity: .4;
}

.sub__swiper-side-content {
  padding: 3.2rem 2.8rem;
  height: 100%;
}

.sub__swiper-side-pretitle {
  font-weight: 600;
  padding-bottom: 1rem;
}

.sub__swiper-side-title {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  padding-bottom: 3rem;
  white-space: nowrap;
  position: relative;
}

.sub__swiper-side-title span {
  font-size: 2rem;
  font-weight: 500;
  width: 2.28rem;
  display: inline-block;
  border: 2px solid white;
  border-radius: 100px;
  transform: translate(-10%,5%);
}

.sub__swiper-side-list-marker {
  position: absolute;
  left: -2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.6rem;
  height: 1.6rem;
  outline: 3px solid white;
  border-radius: 200px;
  color: white;
}

.sub__swiper-side-list br {
  display: none;
}

.sub__swiper-slide:not(:first-child) .sub__swiper-side-title{
  padding-bottom: 10rem;
}

.sub__swiper-side-list {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.8rem;
  padding-left: 3rem;
  padding-right: 1rem;
}

.sub__swiper-side-list li {
  margin-bottom: 2.45rem;
  position: relative;
}

.sub__swiper-side-more {
  background: none;
  border: none;
  padding: 0;
  margin: 2.5px;
  color: white;
  border-bottom: 3.5px dotted white;
  position: absolute;
  bottom: 2.4rem;
}

.sub__swiper-slide-adventures {
  color: white;
}

.sub__swiper-slide-adventures h3 {
  padding-bottom: 1.5rem;
}

.sub__swiper-slide-adventures h5 {
  padding-bottom: 1.7rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.sub__swiper-slide-adventures p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.sub__swiper-slide-adventures p:not(:last-child) {
  padding-bottom: 1rem;
}

.sub__list {
  position: relative;
  padding: 0 2rem;
}

.sub__accordion:last-child {
  margin-bottom: 0;
}

.sub__accordion:not(:last-child)>.sub__accordion-item {
  border-bottom: 1px solid #E2E2E2;
}

.sub__accordion-item button[aria-expanded="true"] {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.sub__accordion button {
  position: relative;
  display: flex;
  text-align: left;
  width: 100%;
  font-size: 1rem;
  border: none;
  background: none;
  outline: none;
  padding: 3rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
}

.sub__accordion button[aria-expanded="true"] + .sub__accordion-content {
  opacity: 1;
  max-height: 100rem;
  padding: 2.2rem 0;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.sub__accordion .sub__accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.sub__icon {
  display: inline-block;
  position: absolute;
  padding: 0 0.76rem;
  right: 1rem;
  top: 30.5%;
  transition: all 1s ease;
  transform-origin: center;
  color: white;
  font-size: 2.5rem;
  border-radius: 200px;
}

.sub__accordion button[aria-expanded="true"] .sub__icon {
  transform: rotate(-360deg);
  background: white;
  color: #222222;
}

.sub__accordion-title {
  position: relative;
  margin-left: 3rem;
}

.sub__accordion-marker {
  position: absolute;
  left: -3rem;
  top: 50%;
  width: 4rem;
  aspect-ratio: 1/1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%,-50%);
  border: 2px solid white;
  border-radius: 200px;
  font-size: 2.2rem;
}

.sub__red {
  color: var(--color-1);
}







/* WHY ARE WE GOOD KARGO? */

.cargo {
  background: #222222;
  position: relative;
  z-index: 1;
  margin-bottom: 16rem;
}

.cargo::after {
  content: '';
  display: block;
  position: absolute;
  top: -115%;
  width: 100vw;
  height: 350%;
  background: #222222;
}

.cargo .wrapper {
  position: relative;
  z-index: 1;
  overflow-y: visible;
  overflow-x: clip;
}


/* .cargo::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #161616;
  opacity: 0.65;
  z-index: 0;
} */

.cargo h2 {
  color: white;
  padding-bottom: 1rem;
}

.cargo__order {
  width: 22%;
  aspect-ratio: 382.7276/767.181;
}

.cargo__anim {
  width: 100%;
  margin-top: 15rem;
  max-width: 100vw;
  position: relative;
  animation: cargoWrapperAnim var(--cargoAnim) linear infinite;
  will-change: transform;
}

@keyframes cargoWrapperAnim {
  0% {
    transform: scale(1.7) translateX(20%);
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: scale(1.35) translateX(25%);
  }
  13% {
    opacity: 1;
  }
  50% {
    transform: scale(1.2) translateX(4%);
  }
  90% {
    transform: scale(1) translateX(-7%);
    opacity: 1;
  }
  100% {
    transform: scale(2) translateX(-7%);
    opacity: 0;
  }
}

.cargo__text {
  color: white;
  font-weight: 600;
  font-size: 2.2rem;
  font-family: 'Ubuntu Mono';
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  will-change: width, opacity, transform;
}

#cargo-title-1-st-1 {
  width: 11ch;
  bottom: 60%;
  left: 36%;
  animation: cargoTitle1Anim var(--cargoAnim) linear infinite,
              cargoTitle1st1Anim var(--cargoAnim) steps(11) infinite;
}

@keyframes cargoTitle1st1Anim {
  0% {
    width: 0ch;
  }
  10% {
    width: 0ch;
  }
  15% {
    width: 11ch;
  }
  100% {
    width: 11ch;
  }
}

#cargo-title-1-st-2 {
  width: 6ch;
  bottom: 60%;
  left: 55.4%;
  animation: cargoTitle1Anim var(--cargoAnim) linear infinite,
              cargoTitle1st2Anim var(--cargoAnim) steps(6) infinite;
}

@keyframes cargoTitle1st2Anim {
  0% {
    width: 0ch;
  }
  15% {
    width: 0ch;
  }
  18% {
    width: 6ch;
  }
  100% {
    width: 6ch;
  }
}

@keyframes cargoTitle1Anim {
  0% {
    opacity: 1;
  }
  18% {
    width: 18ch;
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  22% {
    opacity: 0;
  }
  100% {
    width: 18ch;
    opacity: 0;
  }
}

#cargo-title-2-st-1 {
  width: 18ch;
  bottom: 60%;
  left: 37%;
  animation: cargoTitle2st1Anim var(--cargoAnim) steps(18) infinite;
}

@keyframes cargoTitle2st1Anim {
  0% {
    width: 0ch;
    opacity: 0;
    transform: translateX(0);
  }
  22% {
    width: 0ch;
    opacity: 0;
  }
  28% {
    width: 18ch;
    opacity: 1;
  }
  37% {
    opacity: 1;
    transform: translateX(0);
  }
  40% {
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    width: 18ch;
    opacity: 0;
    transform: translateX(80%);
  }
}

#cargo-title-2-st-2 {
  width: 32ch;
  bottom: 53%;
  left: 37%;
  animation: cargoTitle2st2Anim var(--cargoAnim) steps(32) infinite;
}

@keyframes cargoTitle2st2Anim {
  0% {
    width: 0ch;
    opacity: 0;
    transform: translateX(0);
  }
  28% {
    width: 0ch;
    opacity: 0;
  }
  34% {
    width: 32ch;
    opacity: 1;
  }
  37% {
    opacity: 1;
    transform: translateX(0);
  }
  40% {
    opacity: 0;
    transform: translateX(14%);
  }
  100% {
    width: 32ch;
    opacity: 0;
  }
}

.cargo__order-anim {
  position: relative;
}

.cargo__phone {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  stroke-width: 3px;
}

.cargo__phone-container {
  width: 100%;
  height: 100%;
  mask: url(../img/cargo-order-mask.png);
  mask-type: alpha;
  mask-size: contain;
  -webkit-mask: url(../img/cargo-order-mask.png);
  -webkit-mask-type: alpha;
  -webkit-mask-size: contain;
  background: var(--color-1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transform: scale(1) scaleX(-1.1) translateX(-1.2);
  justify-content: center;
  align-items: center;
  animation: cargoPhoneOpacity var(--cargoAnim) ease-in-out infinite;
  will-change: opacity;
}

@keyframes cargoPhoneOpacity {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  67% {
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.cargo__phone-wrapper {
  animation: cargoPhoneRotate var(--cargoAnim) ease-in-out infinite;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  will-change: transform;
}

@keyframes cargoPhoneRotate {
  0% {
    transform: rotate(0deg) translateX(0%) translateY(0%) scale(0.7);
  }
  10% {
    transform: rotate(12deg) translateX(40%) translateY(-12%) scale(1) rotateX(1deg) rotateY(-40deg);
  }
  70% {
    transform: rotate(12deg) translateX(40%) translateY(-12%) rotateX(1deg) rotateY(-40deg);
  }
  90% {
    transform: rotate(0deg) translateX(0%) translateY(0%) scale(0.7) rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotate(0deg) translateX(0%) translateY(0%) scale(0.7) rotateX(0deg) rotateY(0deg);
  }
}

.cargo__phone-content {
  width: 96%;
  height: 95%;
  margin-left: 4%;
  pointer-events: none;
  position: relative;
}

#animForm {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

#animForm .form-container {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: none;
}

#animForm .form-container form {
  height: 100%;
  padding: 5rem 2.3rem;
}

#animForm .form-container form h2 {
  font-size: 1.1rem;
  color: #161616;
}

#animForm .form-container form>p {
  padding-bottom: 1.8rem;
  font-size: 0.8rem;
}

#animForm .form-container form label {
  font-size: 0.7rem;
}

.cargo-anim-tel {
  color: white;
  font-weight: 600;
  font-size: 2.2rem;
  font-family: 'Ubuntu Mono';
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: absolute;
  will-change: width, opacity, transform;
}

#animForm .form-container form input {
  margin-bottom: 0.7rem;
  padding: 1.3rem 1rem;
}

#animForm .form-container form input[type="submit"] {
  animation: animSubBtn var(--cargoAnim) linear infinite;
}

@keyframes animSubBtn {
  0% {
    background: var(--color-2);
    color: #222222;
  }
  15% {
    background: var(--color-2);
    color: #222222;
  }
  16% {
    background: #222222;
    color: white;
  }
  100% {
    background: #222222;
    color: white;
  }
}

.cargo__call {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #393939;
  z-index: 2;
  animation: animCallCnt var(--cargoAnim) linear infinite;
  opacity: 0;
}

@keyframes animCallCnt {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  23% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


#Hand {
  animation: handAnim var(--cargoAnim) ease infinite;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 40% 47%;
  will-change: transform;
}

@keyframes handAnim {
  0% {
    transform: rotate(40deg) translateX(-11%) translateY(-0.2%);
  }
  4% {
    transform: rotate(40deg) translateX(-11%) translateY(-0.2%);
  }
  10% {
    transform: none;
  }
  14% {
    transform: none;
  }
  16% {
    transform: rotate(10deg) translateX(-3%) translateY(-0.1%);
  }
  18% {
    transform: none;
  }
  24% {
    transform: none;
  }
  28% {
    transform: rotate(40deg) translateX(-11%) translateY(-0.2%);
  }
  100% {
    transform: rotate(40deg) translateX(-11%) translateY(-0.2%);
  }
}

.st0 {
  stroke: #ffffff00;
  stroke-dasharray: 20%;
  animation: st0anim var(--cargoAnim) ease-in-out infinite;
  will-change: stroke-dasharray, stroke;
}

@keyframes st0anim {
  0% {
    stroke-dasharray: 20%;
    stroke: #ffffff00;
  }
  30% {
    stroke: #ffffff;
  }
  50% {
    stroke-dasharray: 400%;
  }
  70% {
    stroke: #ffffff;
  }
  85% {
    stroke: #ffffff00;
    stroke-dasharray: 20%;
  }
  100% {
    stroke: #ffffff00;
    stroke-dasharray: 20%;
  }
}

.st1 {
  animation: st1anim var(--cargoAnim) ease-in-out infinite;
  will-change: transform;
  opacity: 0;
}

@keyframes st1anim {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  12% {
    opacity: 0;
    transform: translateX(-30%);
  }
  16% {
    opacity: 1;
    transform: translateX(0);
  }
  70% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    transform: 0;
  }
}

.cargo-phone-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.cargo__ship {
  position: absolute;
  z-index: -2;
  bottom: 20%;
  left: 0;
  width: 80%;
  aspect-ratio: 1062.23/559.1029;
  mask: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 27%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 100%);
  -webkit-mask: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 27%, rgba(0,0,0,1) 30%, rgba(0,0,0,1) 100%);
  mask-type: alpha;
  -webkit-mask-type: alpha;
  mask-size: contain;
  -webkit-mask-size: contain;
}

#Ship {
  animation: shipAnim var(--cargoAnim) ease-in-out infinite;
  will-change: transform, opacity;
}

@keyframes shipAnim {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  30% {
    transform: translateX(-100%);
    opacity: 1;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  67% {
    transform: translateX(0);
    opacity: 1;
  }
  72% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}

#WaveA, #WaveB {
  animation: waveAAnim var(--cargoAnim) ease-in-out infinite;
  will-change: transform, opacity;
  opacity: 0;
}

#WaveA {
  animation-delay: 150ms;
}

@keyframes waveAAnim {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  28% {
    transform: translateX(-100%);
    opacity: 1;
  }
  45% {
    transform: translateX(0);
  }
  67% {
    opacity: 1;
  }
  72% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.cargo__sky {
  position: absolute;
  z-index: -5;
  top: -30%;
  right: 10%;
  animation: skyAnim var(--cargoAnim) linear infinite;
  opacity: 0;
}

@keyframes skyAnim {
  0% {
    transform: translateX(-10%) translateY(20%);
    opacity: 0;
  }
  30% {
    transform: translateX(-10%) translateY(20%);
    opacity: 0;
  }
  40% {
    transform: translateX(-6%) translateY(16%);
    opacity: 1;
  }
  70% {
    transform: translateX(0) translateY(12%);
    opacity: 0.8;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(0);
    opacity: 0;
  }
}

#CloudA {
  animation: cloudAAnim var(--cargoAnim) linear infinite;
}

@keyframes cloudAAnim {
  0% {
    transform: translateX(-4%);
  }
  100% {
    transform: translateX(0);
  }
}

#CloudB {
  animation: cloudBAnim var(--cargoAnim) linear infinite;
}

@keyframes cloudBAnim {
  0% {
    transform: translateX(3%);
  }
  100% {
    transform: translateX(0);
  }
}

#BirdA, #BirdB, #BirdC {
  animation: birdAnim var(--cargoAnim) linear infinite;
  transform: translateX(8%);
  will-change: transform, opacity;
}

#BirdB {
  animation-delay: 5000ms;
}

#BirdC {
  animation-delay: 4550ms;
}

@keyframes birdAnim {
  0% {
    transform: translateX(8%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(8%);
  }
}

.cargo__box {
  position: absolute;
  z-index: -3;
  width: 44%;
  aspect-ratio: 885.6/557.5;
  bottom: 21%;
  left: 12%;
  opacity: 0;
  animation: cargoBoxAnim var(--cargoAnim) ease-in-out infinite;
  will-change: opacity, transform;
}

@keyframes cargoBoxAnim {
  0% {
    opacity: 0;
  }
  40% {
    transform: translateX(0);
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  92% {
    opacity: 1;
    transform: translateX(50%);
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.cargo__box .main-logo {
  position: absolute;
  z-index: -2;
  top: -8%;
  left: -30%;
  font-size: 8rem;
  animation: cargoLogoAnim var(--cargoAnim) linear infinite;
  will-change: opacity, transform;
}

@keyframes cargoLogoAnim {
  0% {
    opacity: 0;
    transform: scale(0.6) translate(-15%,5%);
  }
  70% {
    opacity: 0;
    transform: scale(0.6) translate(-15%,5%);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1) translate(0,-60%);
  }
}

.cargo__box .main-logo img {
  width: 8rem;
}

.stbox0 {
  fill:#cacaca00;
  stroke: #ffffff00;
  stroke-dasharray: 10%;
  stroke-width: 3px;
  animation: stBoxColor0Anim var(--cargoAnim) ease infinite;
  will-change: fill, stroke, stroke-dasharray;
}

@keyframes stBoxColor0Anim {
  0% {
    fill:#cacaca00;
    stroke: #ffffff00;
  }
  70% {
    stroke: #ffffff00;
    stroke-dasharray: 10%;
  }
  77% {
    fill:#cacaca00;
    stroke: #ffffff;
  }
  84% {
    fill:#cacaca;
    stroke-dasharray: 200%;
  }
  100% {
    fill:#cacaca;
    stroke: #ffffff;
    stroke-dasharray: 200%;
  }
}

#cargo-cart {
  animation: cargoCartAnim var(--cargoAnim) ease-in-out infinite;
  will-change: transform, opacity;
}

@keyframes cargoCartAnim {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  60% {
    opacity: 0;
    transform: translateX(-50%);
  }
  76% {
    opacity: 0;
  }
  80% {
    opacity: 1;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}





/* READY-MAKE SOLUTION */

#rm-sol-sect {
  background: #222222;
  /* background-image: url(../img/rm-solution-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  position: relative;
  z-index: 1;
  display: block;
}

#rm-sol-sect::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #222222;
  opacity: 0.25;
  z-index: 0;
}

.rm-sol {
  color: white;
  padding: 4rem 8rem 8rem;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.rm-sol h2 {
  padding-bottom: 5rem;
  position: relative;
}

.rm-sol h2::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: -5%;
  height: 60%;
  aspect-ratio: 1/1;
  background: url(../img/svg/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}

.rm-sol__content-list {
  justify-content: space-around;
  transform: translateX(1.5rem);
}

.rm-sol__content-list li {
  flex: 0 1 33%;
  align-items: flex-start;
  font-size: 1.4rem;
  background: transparent;
  border: 2px solid white;
  border-radius: 2rem;
  color: white;
  padding: 1.4rem;
}

.rm-sol__content-list li span {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  position: relative;
}

.rm-sol-marker {
  position: absolute;
  left: -6rem;
  top: -0.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  outline: 3px solid white;
  border-radius: 200px;
  transform: translateZ(0);
  color: white;
}

.rm-sol__content-list li p {
  font-weight: 500;
  line-height: 2.2rem;
  padding-top: 1.8rem;
}

.rm-sol__content-send-offer {
  justify-content: space-around;
  align-items: center;
}

.rm-sol__content-send-offer button {
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
}

.rm-sol__content-send-offer span {
  font-size: 2.8rem;
  font-weight: bold;
}





/* SERVICES */


.services {
  background: #222222;
  color: white;
  padding: 8rem 0;
  z-index: 99;
  position: relative;
}

.services__list-title {
  justify-content: end;
  align-items: center;
  padding-bottom: 1.5rem;
}

.services h4 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4.8rem;
  padding-right: 2rem;
  display: inline-block;
  white-space: nowrap;
}

.services h3 {
  padding: 1rem;
  border-radius: 20px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  outline: 2px solid white;
  float: right;
}

.services__accordion:last-child {
  margin-bottom: 0;
}

.services__accordion-item {
  border-bottom: 1px solid #E2E2E2;
}

.services__accordion-item button[aria-expanded="true"] {
  border-bottom: 1px solid rgb(255, 255, 255);
}

.services__accordion button {
  position: relative;
  display: flex;
  text-align: left;
  width: 100%;
  font-size: 1rem;
  border: none;
  background: none;
  outline: none;
}

.services__accordion button span:hover, .services__accordion button span:focus
  ::after {
  cursor: pointer;
  background: linear-gradient(to left, #d7d2cc 0%, #7f7f7f 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services__accordion-item button:hover .services__icon {
  color: #7f7f7f;
}

.services__accordion-title {
  display: block;
  min-width: 100%;
  font-weight: 500;
  padding: 2rem;
  line-height: 3rem;
  font-size: 2rem;
  color: white;
}

.services__icon {
  display: inline-block;
  position: absolute;
  padding: 0 0.85rem;
  right: 1rem;
  top: 28%;
  transition: all 1s ease;
  transform-origin: center;
  color: white;
  font-size: 3rem;
  border-radius: 200px;
}

.services__accordion button[aria-expanded="true"] .services__icon {
  transform: rotate(-360deg);
  background: white;
  color: #222222;
}


.services__accordion button[aria-expanded="true"] + .services__accordion-content {
  opacity: 1;
  max-height: 100rem;
  padding: 2.2rem 0;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.services__accordion .services__accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.services__accordion .services__accordion-content p, 
.services__accordion .services__accordion-content ul {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0.8rem 1rem;
}


.services__accordion .services__accordion-content ul li {
  padding-bottom: 1.5rem;
  line-height: 2.4rem;
  position: relative;
}





/* ANY QUESTIONS? */


.cons-offer {
  padding: 8rem 0;
  color: white;
  flex-direction: column;
  align-items: center;
  background: var(--color-1);
  position: relative;
  z-index: 1;
}

.cons-offer h2 {
  text-align: center;
  font-size: 4rem;
  padding-bottom: 2rem;
}

.cons-offer p {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  line-height: 2rem;
  max-width: 50%;
  padding-bottom: 1.5rem;
}

.cons-offer a {
  text-decoration: none;
  color: #ffffff;
}





/* HOW WE WORK */


.works {
  background: #222222;
  color: white;
  padding-top: 8rem;
  position: relative;
  z-index: 1;
}

.works__list {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.works__list li {
  padding: 3.5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.works__list li>span {
  font-size: 2rem;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
}

.works__list li>span::before {
  content: '1';
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  aspect-ratio: 1/1;
  outline: 2px solid white;
  border-radius: 200px;
  margin-right: 1rem;
}

.works__list li:nth-child(2)>span::before {
  content: '2';
}
.works__list li:nth-child(3)>span::before {
  content: '3';
}
.works__list li:nth-child(4)>span::before {
  content: '4';
}
.works__list li:nth-child(5)>span::before {
  content: '5';
}

.works__list li p {
  padding: 1.2rem;
  line-height: 1.9rem;
  font-size: 1.5rem;
  max-width: 70%;
}

.works__list-icon {
  position: absolute;
  right: 2.5rem;
  display: inline-block;
  height: 10rem;
  width: 10rem;
  background-size: cover;
  background-position: center;
  animation: worksIconAnim 2s ease-in-out infinite alternate;
}

.works__list li:nth-child(odd) .works__list-icon {
  animation-delay: 1s;
}

@keyframes worksIconAnim {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-20%);
  }
}





/* How we have already helped customers */


.helped {
  background: #222222;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.helped h2 {
  color: white;
  padding-top: 8rem;
  padding-bottom: 4rem;
  z-index: 2;
  pointer-events: none;
}

#helped-main-title {
  margin-left: 7%;
}

.helped-swiper {
  width: 200%;
  position: relative;
  margin-bottom: 8rem;
  transform: translateX(-25%);
}

.helped-swiper-shadows {
  position: absolute;
  pointer-events: none;
  left: 50%;
  right: 50%;
  width: 100vw;
  height: 110%;
  transform: translate(-50%,-4%);
  z-index: 20;
}

.helped-swiper-shadows::before, .helped-swiper-shadows::after {
  content: '';
  display: block;
  width: 15%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  background: linear-gradient(90deg, #222222 0%, #22222202 93%, transparent 100%);
}

.helped-swiper-shadows::before {
  left: -2px;
}

.helped-swiper-shadows::after {
  right: -2px;
  transform: scaleX(-1);
}

.helped-swiper-wrapper.swiper-wrapper {
  width: 100%;
}

.helped__block {
  flex-direction: column;
  height: fit-content;
  justify-content: flex-start;
  background: white;
  padding: 2rem;
  border-radius: 30px;
  color: #161616;
}

.helped__block h3 {
  font-size: 2.2rem;
  font-weight: 600;
  padding-bottom: 1.2rem;
}

.helped__block p {
  font-size: 1.3rem;
  line-height: 1.4rem;
  font-weight: 500;
  padding-bottom: 2rem;
}

.helped-button {
  width: fit-content;
  margin-top: auto;
  margin-left: auto;
  padding: 1rem 1.4rem;
  border: 3px solid #161616;
  border-radius: 20px;
  outline: none;
  background: transparent;
  font-weight: 600;
  transition: all 0.6s ease;
}

.helped-button:hover, .helped__block.swiper-slide-active .helped-button {
  background: #161616;
  color: white;
}

.helped__block.swiper-slide-prev .helped-button {
  background: transparent;
  color: black;
}

.helped__more {
  width: 100%;
  background: transparent;
  border-radius: 30px;
  padding: 0 5rem;
  display: block;
  color: white;
}

.helped__more-content {
  display: none;
}

.helped__more-content img {
  width: 100%;
  margin-bottom: 1.4rem;
}

.helped__more.helped__more-open {
  display: block;
  height: fit-content;
}

.helped__more h4 {
  font-weight: 600;
  font-size: 1.6rem;
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.helped__more p {
  font-weight: 500;
  font-size: 1.2rem;
  display: inline-block;
  max-width: 45%;
}

.helped .swiper-button-prev, .helped .swiper-button-next {
  top: 0;
  margin-top: 0;
  height: 100%;
  color: var(--color-1);
  position: fixed;
  z-index: 1;
}

.helped .swiper-button-prev::after, .helped .swiper-button-next::after {
  font-size: 1.3rem;
  font-weight:900;
}

.helped .swiper-button-prev {
  left: 0.4rem;
}

.helped .swiper-button-next {
  right: 0.4rem;
}





/* CONTACT US */


.contact-us {
  padding: 4rem 0;
  color: white;
  flex-direction: column;
  align-items: center;
  background: var(--color-1);
  position: relative;
  z-index: 1;
}

.contact-us h2 {
  text-align: center;
  font-size: 4rem;
  padding-bottom: 2rem;
}

.contact-us p {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  line-height: 2rem;
  padding-bottom: 1.5rem;
}

.contact-us a {
  text-decoration: none;
  color: #ffffff;
}

.contact-us__links {
  align-items: center;
}

.contact-us__links a {
  width: 3rem;
  transition: 0.5s ease;
  cursor: pointer;
}

.contact-us__links a:hover {
  transform: scale(1.06);
}

.contact-us__links a:nth-child(2) {
  margin: 0 2rem;
}

.contact-us__links a:nth-child(2) img {
  transform: scale(0.97);
}
.contact-us__links a img {
  width: 3rem;
  height: 3rem;
}





/* ABOUT */


.about {
  color: white;
  padding-top: 8rem;
  transform: translateY(2px);
  z-index: 5;
  position: relative;
  background: #222222;
}

.about p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
  padding-bottom: 2.3rem;
}

.about p:last-child {
  padding-bottom: 5rem;
}

/* .about p span {
  color: #ffc400;
} */

.about .wrapper>span {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
}





/* FOOTER */


footer {
  background: #222222;
  padding-bottom: 2rem;
  position: relative;
  z-index: 1;
}

.footer {
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 6rem;
}

.footer__content {
  flex-direction: column;
  max-width: 30%;
}

.footer__content>a {
  text-decoration: none;
  color: white;
  cursor: default;
  font-size: 1.2rem;
}

#tel {
  padding-bottom: 1.2rem;
}

#mail {
  padding-bottom: 2.3rem;
}

.footer__content .main-logo {
  font-size: 3rem;
  padding-bottom: 2.3rem;
}

.footer__links a {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.footer__links a:first-child {
  margin-right: 2rem;
  width: calc(3rem - 3px);
}

.footer__links a:first-child img {
  transform: scale(0.96);
}

.footer__links a img {
  width: 3rem;
  height: 3rem;
  transition: 0.5s ease;
  z-index: -1;
}

.footer__links a img:hover {
  transform: scale(1.06);
}

.footer__map {
  width: 65%;
  height: 20rem;
  justify-content: space-between;
  position: relative;
}

.footer__map-links {
  position: absolute;
  top: -8rem;
  left: 0;
}

.footer__map-links span {
  display: block;
  color: white;
  font-weight: 800;
  line-height: 3rem;
  font-size: 2rem;
  padding-left: 1rem;
}

.footer__map-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 1rem;
  line-height: 3rem;
  font-size: 2rem;
}

.footer__map-links a:hover, .footer__map-links a:focus, .footer__map-links a.active {
  color: #ffc400;
}

.footer__map iframe {
  border-radius: 10px;
  display: none;
}

.footer__map iframe:nth-child(2) {
  display: block;
}

.footer__politics {
  display: block;
  color: white;
  margin-bottom: 1.2rem;
  font-size: 1rem;
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.footer__politics:hover {
  color: var(--color-2);
}

.footer__info {
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.8rem;
  color: white;
}

.footer__info {
  padding: 0 2.5rem;
}





/* APPLICATION FORM */


.form {
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  left: 0;
  top: 0;
  position: fixed;
  background: #0000007c;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 85%;
  background: white;
  border-radius: 25px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 7rem;
}

.form-container form h2 {
  font-size: 3rem;
  padding-bottom: 1rem;
  white-space: nowrap;
}

.form-container form>p {
  padding-bottom: 3rem;
  text-align: center;
}

.form-container form>p:last-child {
  padding-bottom: 0;
  text-align: center;
  max-width: 70%;
}

.form-container form input, #subit-btn, .form-container form select {
  width: 100%;
  padding: 1.5rem;
  border-radius: 20px;
  border: 2px solid gray;
  margin-bottom: 1.8rem;
}

.form-container form select {
  padding-right: 5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../img/svg/arrow.svg);
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: right 20px center;
  cursor: pointer;
  color: #222222;
}

.form-container form label {
  align-self: flex-start;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 500;
}

#submit-btn {
  background: rgb(255, 235, 9);
  color: #222222;
  transition: 0.5s ease;
  border: none;
  cursor: pointer;
  padding: 1.8rem;
  font-weight: 500;
}

#submit-btn:hover {
  background: #222222;
  border: none;
  color: white;
}

#close-form-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  width: 4%;
  aspect-ratio: 1/1;
  margin: 1rem;
}

#close-form-btn img {
  width: 100%;
  max-width: 36px;
}





/* ADAPTIVE */


@media (max-width:1250px) {
  html {
    font-size: 13px;
  }
}

@media (max-width:1020px) {
  html {
    font-size: 12px;
  }
  .hero__content h1 {
    font-size: 4.4rem;
  }
  .hero__subtitle, .hero__word {
    font-size: 4rem;
  }
  .form-container form input, .form-container form select {
    padding: 1.5rem;
  }
}

@media (max-width:800px) {
  html {
    font-size: 10px;
  }
  .a-btn {
    padding: 1.8rem 2rem;
    font-size: 1.6rem;
  }
  .wrapper {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .cookie-wrapper {
    flex-direction: column;
  }
  .hero__content h1 {
    white-space:pre-wrap;
  }
  .hero__swiper {
    max-height: 5rem;
    min-width: 20rem;
    max-width: 20rem;
  }
  .hero__swiper-slide {
    font-size: 3rem;
  }
  .hero__swiper-slide:first-child {
    transform: translateX(7%);
  }
  .sub-nav-list {
    overflow: hidden;
  }
  .sub-nav-list li {
    min-width: 50%;
  }
  .sub-nav-line-a, .sub-nav-line-b {
    bottom: -0.4px;
  }
  .sub__swiper-slide {
    flex-direction: column;
  }
  .sub__swiper-slide-txt {
    max-width: 100%;
  }
  .sub__swiper-slide-txt p {
    margin-bottom: 2.3rem;
  }
  .sub__swiper-side {
    max-width: 100%;
    background: transparent;
  }
  .sub__swiper-side-content {
    padding: 0;
  }
  #rm-sol-sect {
    display: block;
  }
  #close-form-btn {
    width: 6%;
  }
  .form-container form input, .form-container form select {
    padding: 1.8rem;
  }
  .form-container form {
    padding: 0 5rem;
  }
}

@media (max-width:670px) {
  html {
    font-size: 11px;
  }
  .wrapper {
    padding: 0 3rem;
  }
  .a-btn {
    padding: 2rem;
    font-weight: 800;
  }
  .a-btn span {
    font-size: 1.6rem;
  }
  .header .main-logo {
    margin-left: -2rem;
  }
  .menu__icon {
    transform: scaleY(0.85) translateY(9%) rotate(180deg);
    margin-right: -0.7rem;
  }
  .hero {
    padding: 0rem;
    padding-right: 1rem;
  }
  .hero__content-pbtn {
    max-width: 100%;
    width: auto;
  }
  .hero__content-pbtn p {
    display: inline-block;
    font-size: 2.8rem;
    line-height: 2.8rem;
    font-weight: bold;
    margin: 0;
    padding-bottom: 2.5rem;
    transform: scaleY(1.2);
  }
  .hero__marquee {
    left: -50%;
    top: 76%;
  }
  .hero__content h1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: end;
    white-space: nowrap;
    font-size: 3.4rem;
    line-height: 3.2rem;
    margin-bottom: 0rem;
    float: right;
    z-index: 1;
  }
  .hero__title {
    margin-bottom: 0;
    transform: translateY(15%);
  }
  .hero__swiper {
    max-height: 6rem;
    width: 12vw;
    max-width: none;
    transform: translate(11%,-10%);
    z-index: -2;
  }
  .hero__swiper-slide {
    font-size: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #hero__title {
    height: 2.5rem;
  }
  .hero__word {
    font-size: 2.7rem;
  }
  .hero__subtitle {
    font-size: 2.7rem;
    margin-left: 1.2rem;
    padding-bottom: 0;
    transform: translateY(-0%);
  }
  .hero__content h1 span:nth-child(1) {
    font-size: 5.4rem;
    padding-right: 6rem;
    align-self: flex-start;
  }
  .hero__content h1 span:nth-child(3) {
    font-size: 4.8rem;
    padding-right: 1.5rem;
    align-self: center;
    /* transform:translateX(8%); */
  }
  .hero__content h1 span:nth-child(5) {
    font-size: 4.4rem;
  }
  .hero__content h1 span {
    transition: 0.3s all ease;
    cursor: default;
  }
  .hero__content-pbtn button {
    font-size: 1.4rem;
    padding: 2.6rem 1.5rem;
    max-width: 100%;
  }
  .hero__button {
    padding: 1rem 1.2rem;
  }
  #wefound {
    transform: translateX(7%);
  }
  .sub__container {
    padding-bottom: 4rem;
  }
  .sub__swiper-slide {
    overflow-y: scroll;
    overflow-x: clip;
    padding-right: 0.7rem;
  }
  .sub__swiper-slide-adventures h5 {
    max-width: 75%;
  }
  .sub__swiper-pretitle {
    display: inline-block;
  }
  .sub__swiper-slide-txt {
    margin-bottom: 2.3rem;
    padding-right: none;
  }
  .sub-nav-list li {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .sub__swiper-side-title {
    font-size: 1.3rem;
  }
  .sub__swiper-side-list-marker {
    outline: 1px solid white;
    width: 1.85rem;
    height: 1.85rem;
  }
  .sub__accordion-marker {
    width: 3rem;
    font-size: 1.8rem;
  }
  .sub__swiper-side-list br {
    display: inline-block;
  }
  .sub__swiper-pretitle {
    font-size: 1rem;
  }
  .sub__swiper h3 {
    font-size: 3.1rem;
  }
  .sub__swiper-slide-txt p, .sub__swiper-slide-txt-list {
    max-width: 100%;
    font-size: 1.34rem;
    font-weight: 500;
    line-height: 2.4rem;
  }
  .sub__list {
    padding: 0;
  }
  .sub__accordion-title {
    font-size: 1.5rem;
    margin-left: 1.5rem;
  }
  .cargo__text {
    font-size: 1.2rem;
  }
  #cargo-title-1-st-2 {
    bottom: 50%;
  }
  #cargo-title-2-st-2 {
    bottom: 38%;
    line-height: 1.3rem;
  }
  #cargo-title-2-st-2 br {
    display: inline-block;
  }
  .cargo__list {
    font-size: 1.4rem;
    white-space: normal;
    line-height: 2rem;
  }
  .cargo__list li {
    width: 100%;
    padding-left: 1rem;
  }
  .cargo__list li br {
    display: inline-block;
  }
  .cargo__list li::before {
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
  }
  .cargo__list li span {
    position: relative;
    font-size: 3rem;
    font-weight: 700;
    white-space: nowrap;
    left: -1.2rem;
    font-size: 1.5rem;
  }
  .cargo__box .main-logo {
    font-size: 3rem;
  }
  #animForm {
    display: flex;
    width: 100%;
    height: 100%;
  }
  #animForm .form-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: none;
  }
  #animForm .form-container form {
    height: 100%;
    padding: 2.3rem 1rem;
  }
  #animForm .form-container form h2 {
    font-size: 0.56rem;
    padding-bottom: 0.3rem;
    color: #161616;
  }
  #animForm .form-container form>p {
    padding-bottom: 0.8rem;
    font-size: 0.5rem;
  }
  #animForm .form-container form label {
    font-size: 0.7rem;
  }
  #animForm .form-container form input {
    margin-bottom: 0.7rem;
    padding: 0.4rem;
    font-size: 0.43rem;
    border: 1px solid #222222;
  }
  #animForm .form-container form>p:last-child {
    font-size: 0.4rem;
  }
  .rm-sol {
    padding-top: 0;
    padding-bottom: 8rem;
  }
  .rm-sol h2 {
    font-size: 4rem;
  }
  .rm-sol__content-list {
    flex-direction: column;
    transform: none;
  }
  .rm-sol__content-list li{
    padding: 3rem;
  }
  .rm-sol__content-list li span {
    font-size: 2.5rem;
  }
  .rm-sol__content-list li p {
    font-size: 1.5rem;
    padding-bottom: 0.4rem;
  }
  .rm-sol__content-list li:first-child {
    margin-bottom: 3rem;
  }
  .rm-sol__content-list li>span::before {
    content: '1';
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    outline: 2px solid white;
    border-radius: 200px;
    margin-right: 1rem;
  }
  .rm-sol__content-list li:nth-child(2)>span::before {
    content: '2';
  }
  .rm-sol-marker {
    display: none;
  }
  .rm-sol__content-send-offer button {
    width: 100%;
  }
  .rm-sol__content-send-offer span {
    display: none;
  }
  .services {
    padding: 8rem 0 8rem;
  }
  .services h2 {
    font-size: 3.2rem;
    padding-bottom: 3rem;
  }
  .services h4 {
    font-size: 3rem;
  }
  .services__accordion-title {
    font-size: 1.6rem;
    padding-right: 4.2rem;
  }
  .services__list-title {
    margin-bottom: 4rem;
  }
  .cons-offer {
    padding: 6rem 0;
  }
  .cons-offer p {
    max-width: 80%;
    width: 80%;
  }
  .cons-offer button {
    max-width: 50%;
    width: 50%;
  }
  .works {
    padding: 6rem 0 0;
  }
  .works h2 {
    font-size: 3.5rem;
    padding-bottom: 2.5rem;
  }
  .works__list li {
    padding: 3.2rem 1.2rem;
  }
  .works__list li:nth-child(even)  {
    text-align: start;
    align-self: flex-start;
  }
  .works__list li>span {
    padding-bottom: 0.4rem;
    font-size: 2.5rem;
  }
  .works__list p {
    font-size: 2rem;
    line-height: 2.2rem;
    padding-left: 5rem;
  }
  .works__list li>span::before {
    width: 3.5rem;
    height: 3.5rem;
  }
  @keyframes worksIconAnim {
    0% {
      transform: translate(14%,60%) scale(0.8);
    }
    100% {
      transform: translate(26%,60%) scale(0.8);
    }
  }
  #helped-main-title {
    margin-left: 0;
  }
  .helped h2 {
    font-size: 3.5rem;
  }
  .helped-swiper {
    width: 100%;
    padding: 0 3rem;
    transform: translateX(0%);
  }
  .helped-swiper-shadows::before, .helped-swiper-shadows::after {
    width: 3rem;
  }
  .helped__block h3 {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .helped__block p {
    font-size: 1.6rem;
    line-height: 1.8rem;
  }
  .helped__more h4 {
    font-size: 2rem;
  }
  .helped__more p {
    font-size: 1.7rem;
    max-width: 100%;
  }
  .helped__more {
    padding: 0;
  }
  .contact-us {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .contact-us h2 {
    padding-bottom: 3.5rem;
  }
  .contact-us p {
    padding-bottom: 3.5rem;
    font-size: 2rem;
  }
  .contact-us button {
    padding: 1.5rem 1rem;
  }
  .about {
    padding-top: 8rem;
  }
  .about p {
    font-size: 1.8rem;
  }
  .about .wrapper>span {
    font-size: 2rem;
  }
  .footer {
    flex-direction: column-reverse;
    justify-content: center;
    background: #222222;
  }
  .footer__content {
    max-width: 100%;
    padding-bottom: 8rem;
  }
  .footer__map {
    width: 100%;
    height: fit-content;
    margin-bottom: 4rem;
    flex-direction: column;
  }
  .footer__map-links a {
    font-size: 1.7rem;
  }
  .footer__map iframe {
    width:100%;
    height: 20rem;
    margin-bottom: 2rem;
  }
  .form-container {
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
  }
  #close-form-btn {
    width: 8%;
  }
  .form-container form h2 {
    font-size: 3.2rem;
    padding-bottom: 3rem;
    -webkit-text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
    -moz-text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
  }
  .form-container form>p {
    padding-bottom: 3rem;
    font-size: 1.8rem;
  }
  .form-container form>p:last-child {
    font-size: 1rem;
  }
  .form-container form input, #submit-btn, .form-container form select {
    padding: 2.5rem;
    margin-bottom: 2rem;
  }
  .form-container form label {
    align-self: flex-start;
    padding: 1rem;
  }
}
@media (max-width:406px) {
  .hero__word, .hero__subtitle {
    font-size: 2.5rem;
  }
}
@media (max-width:380px) {
  html {
    font-size: 10px;
  }
}

@media (max-width:350px) {
  html {
    font-size: 9px;
  }
  .hero__marquee {
    top: 90%;
  }
}

@media (max-width:300px) {
  html {
    font-size: 7.5px;
  }
}

@media (max-width:250px) {
  html {
    font-size: 6.5px;
  }
}